.cart-container {
  @include content-container;
  display: flex;
  flex-direction: column;
}
.product {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  &__photo {
    width: 170px;
    height: 170px;
    border-radius: 20px;
  }
  &__name {
    font-size: 18px;
    font-weight: 600;
    min-width: 560px;
  }
  &__price {
    font-weight: 600;
    font-size: 24px;
  }
}

.total {
  padding: 40px;
  box-sizing: border-box;
  max-width: 527px;
 background-color: #d7d5d5;
  border-radius: 15px;
  height: 100%;

  & tr {
    margin: 10px 0;
  }

  &__counting {
    vertical-align: bottom;
    min-height: 170px;
    border-spacing: 15px;
  }

  &__counting td {
    text-align: end;
    border: none;
  }
  &__counting th {
    text-align: start;
  }
  &__sum th {
    font-weight: 400;
    font-size: 14px;
  }
  &__sum td {
    font-size: 52px;
  }
  & .button_color {
    width: 100%;
    margin-top: 20px;
  }
  &__promo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__promo-word {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border-radius: 33px;
    padding: 9px 9px 9px 20px;

  }
  &__sum-without-discount {
    font-size: 24px;
  }
}



.promocode {
  border: 2px solid $button-inactive-color;
  border-radius: 33px;
  height: 33px;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0);
}

.title {
  margin: 0 0 20px;
}

.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products-total-container {
display: flex;
  gap: 20px;
}

.delete-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.delete-icon {
  display: block;
  margin: auto;
  transition: scale 0.1s ease;
  &:hover {
    scale: 1.2;
  }
  &:active {
    scale: 1.5;
  }
}
