.contacts {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  @include content-container;

  &__item {
    list-style-type: none;
    color: $light-on-dark;
    font: $main-font;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}

.container-contacts {
  height: 45px;
  display: flex;
  align-items: center;
}

.logo {
  font: $additional-font;
  font-size: 38px;
  color: white;
  hyphens: auto;
  line-height: 0.75;
  letter-spacing: -1px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
  }

.header-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-right: 15px;
}

.cart-container {
  position: relative;
}

.header-background {
  background: $gradient;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}


