.contacts {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  @include content-container;

  &__item {
    list-style-type: none;
    color: $light-on-dark;
    font: $main-font;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}

.container-contacts {
  height: 45px;
  background: $gradient;
  display: flex;
  align-items: center;
}

.logo {
  margin: 45px auto 80px;
  width: 171.25px;
  height: 61.5px;
  font: $additional-font;
  font-size: 50px;
  color: $button-inactive-color;
  hyphens: auto;
  line-height: 0.75;
  letter-spacing: -1px;
  text-align: center;
  }

.header-elements {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 15px;
}

.cart-container {
  position: relative;
}

