.logo {
  font: $additional-font;
  font-size: 38px;
  color: white;
  hyphens: auto;
  line-height: 0.75;
  letter-spacing: -1px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
  }

.header-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-right: 15px;
}

.cart-container {
  position: relative;
}

.header-background {
  background: $gradient;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  height: $header-height;
}


