.dark-background {
  background-color: rgba(0, 0, 0, 0.26);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden;
}

.modal-pay {
  visibility: hidden;
  width: 550px;
  background-color: white;
  border-radius: 20px;
  z-index: 101;
  position: absolute;
  right: 0;
  top: 149px;
  left: 0;
  margin: auto;
  padding: 40px;
  color: $brand-color;
  & .button_color {
    height: 62px;
    width: 100%;
    margin: auto;
  }
  & input, label {
    margin: 0;
  }
  & form {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
.user-data, .payment-card{
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 11px;

  &__label-item {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
  }

  &__input-item {
    margin-bottom: 15px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid $button-inactive-color;
    padding-left: 18px;
  }
  &__input-item:invalid {
    border: 2px solid red;
  }
  &__input-item:valid {
    border: 1.5px solid #9dd375;
  }
}

//#confirm .invalid {
//  border: 2px solid red;
//}


.payment-card {
  &__input {
    width: 70px;
  }
}

.payment-card__groups {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.payment-card__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



